@keyframes communication {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}

@keyframes english {
    0%{
        width: 0;
    }
    100%{
        width: 33.33%;
    }
}

@keyframes workTeam {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}

@keyframes enterSkill {
    0%{
        opacity: 0.7;
        transform: scale(.97);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}